<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.0" targetFramework="xamarinios10" />
  <package id="NLog.Config" version="4.3.11" targetFramework="xamarinios10" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.0.0.482510" targetFramework="xamarinios10" />
</packages>